<div id ="gotweet"></div>
<div id="messages"></div>
<button id="query" ></button>
<div> UserName: <input id="login-user-input" type="text"></input> </div>
<div> Password: <input id="login-password-input" type="text"></input> </div>
<div> <button id="login-button" >Sign In</button>
<div> <button id="sign-up-button" >cancel</button><button id="send" ></button>
<button id="subscribe" ></button>
</div>
